﻿@{
    ViewBag.Title = "Title Search";
}

@Scripts.Render("~/bundles/viewmodel")

@section scripts {
    <script type="text/javascript">

        /*global $:false, TitleSearchViewModel:false*/
        $(function () {
            var retrieveTitlesUrl = '@(Url.Action("RetrieveTitles"))',
                getTitleDetailUrl = '@(Url.Action("GetTitleDetail"))',
                ViewModel = new TitleSearchViewModel(retrieveTitlesUrl, getTitleDetailUrl);

            ko.applyBindings(ViewModel, $('#divMain').get(0));
        });

    </script>
}

<div id="divMain" style="margin-top: 64px; margin-bottom: 64px;">

    <div id="divSearch">
        <label for="titleName">Title Name:</label>
        <input id="titleName" style="width: 300px;" type="text" data-bind="autocomplete: { source: '@(Url.Action("RetrieveTitleName"))', minLength: 1, select: onSelect }, value: selected">
        <button id="btnSearch" data-bind="click: search">Search</button>
    </div>

    <div id="divResults" data-bind="visible: (Titles().length > 0)">
        <h3>Search Results</h3>
        <table>
            <thead>
                <tr class="ui-widget-header">
                    <th>

                    </th>
                    <th>
                        Title Name
                    </th>
                    <th>
                        Title Type Id
                    </th>
                    <th>
                        Release Year
                    </th>
                    <th>
                        Processed Date
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach: Titles">
                <tr data-bind="css: {'ui-state-active even': ($root.Titles().indexOf($data) % 2 == 0), 'ui-state-default odd': ($root.Titles().indexOf($data) % 2 == 1)}">
                    <td>
                        <a data-bind="click: $root.viewDetail" href="#">Detail</a>
                    </td>
                    <td>
                        <span data-bind="text: TitleName"></span>
                    </td>
                    <td>
                        <span data-bind="text: TitleTypeId"></span>
                    </td>
                    <td>
                        <span data-bind="text: ReleaseYear"></span>
                    </td>
                    <td>
                        <span data-bind="text: $root.getLocalProcessedDate($data)"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div data-bind="dialog: { isOpen: isOpen, width: width, height: height, title: Title().Title().TitleName }">
        <label for="titleId">Title Id:</label>
        <span id="titleId" data-bind="text: Title().Title().TitleId"></span>
        <br />
        <label for="titleName">Title Name:</label>
        <span id="titleName" data-bind="text: Title().Title().TitleName"></span>
        <br />
        <label for="releaseYear">Release Year:</label>
        <span id="releaseYear" data-bind="text: Title().Title().ReleaseYear"></span>
        <br />
        <label for="processedDate">Processed Date:</label>
        <span id="processedDate" data-bind="text: $root.getLocalProcessedDate(Title().Title())"></span>
        <br />
        <div id="divGenres" data-bind="visible: Title().Title().TitleGenres().length > 0">
            <h4>Genres</h4>
            <table>
                <thead>
                    <tr class="ui-widget-header">
                        <th>
                            Name
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Title().Title().TitleGenres">
                    <tr data-bind="css: {'ui-state-active even': ($parent.Title().Title().TitleGenres().indexOf($data) % 2 == 0), 'ui-state-default odd': ($parent.Title().Title().TitleGenres().indexOf($data) % 2 == 1)}">
                        <td>
                            <span data-bind="text: Name"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div id="divOtherNames" data-bind="visible: Title().Title().OtherNames().length > 0">
            <h4>OtherNames</h4>
            <table>
                <thead>
                    <tr class="ui-widget-header">
                        <th>
                            Language
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Name
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Title().Title().OtherNames">
                    <tr data-bind="css: {'ui-state-active even': ($parent.Title().Title().OtherNames().indexOf($data) % 2 == 0), 'ui-state-default odd': ($parent.Title().Title().OtherNames().indexOf($data) % 2 == 1)}">
                        <td>
                            <span data-bind="text: TitleNameLanguage"></span>
                        </td>
                        <td>
                            <span data-bind="text: TitleNameType"></span>
                        </td>
                        <td>
                            <span data-bind="text: TitleName"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div id="divAwards" data-bind="visible: Title().Title().Awards().length > 0">
            <h4>Awards</h4>
            <table>
                <thead>
                    <tr class="ui-widget-header">
                        <th>
                            Award Won
                        </th>
                        <th>
                            Award Year
                        </th>
                        <th>
                            Award
                        </th>
                        <th>
                            Award Company
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Title().Title().Awards">
                    <tr data-bind="css: {'ui-state-active even': ($parent.Title().Title().Awards().indexOf($data) % 2 == 0), 'ui-state-default odd': ($parent.Title().Title().Awards().indexOf($data) % 2 == 1)}">
                        <td>
                            <span data-bind="text: AwardWon"></span>
                        </td>
                        <td>
                            <span data-bind="text: AwardYear"></span>
                        </td>
                        <td>
                            <span data-bind="text: Award"></span>
                        </td>
                        <td>
                            <span data-bind="text: AwardCompany"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div id="divParticipants" data-bind="visible: Title().Title().TitleParticipants().length > 0">
            <h4>Participants</h4>
            <table>
                <thead>
                    <tr class="ui-widget-header">
                        <th>
                            Name
                        </th>
                        <th>
                            Participant Type
                        </th>
                        <th>
                            Role Type
                        </th>
                        <th>
                            Is Key
                        </th>
                        <th>
                            Is On Screen
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Title().Title().TitleParticipants">
                    <tr data-bind="css: {'ui-state-active even': ($parent.Title().Title().TitleParticipants().indexOf($data) % 2 == 0), 'ui-state-default odd': ($parent.Title().Title().TitleParticipants().indexOf($data) % 2 == 1)}">
                        <td>
                            <span data-bind="text: Name"></span>
                        </td>
                        <td>
                            <span data-bind="text: ParticipantType"></span>
                        </td>
                        <td>
                            <span data-bind="text: RoleType"></span>
                        </td>
                        <td>
                            <span data-bind="text: IsKey"></span>
                        </td>
                        <td>
                            <span data-bind="text: IsOnScreen"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br />
        <div id="divStoryLine" data-bind="visible: Title().Title().StoryLines().length > 0">
            <h4>Story Lines</h4>
            <table>
                <thead>
                    <tr class="ui-widget-header">
                        <th>
                            Type
                        </th>
                        <th>
                            Language
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Title().Title().StoryLines">
                    <tr data-bind="css: {'ui-state-active even': ($parent.Title().Title().StoryLines().indexOf($data) % 2 == 0), 'ui-state-default odd': ($parent.Title().Title().StoryLines().indexOf($data) % 2 == 1)}">
                        <td>
                            <span data-bind="text: Type"></span>
                        </td>
                        <td>
                            <span data-bind="text: Language"></span>
                        </td>
                        <td>
                            <span data-bind="text: Description"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>